body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #000000;
}
.VisualizationMainPage #mainContent {
	background: #FFFFFF;
}
.VisualizationMainPage #container {
	background: #FFFFFF;
	text-align: left; 
}
.VisualizationMainPage #algoControlSection
{
	background: #DDEEDD; 
	color:#000000; 
}
.VisualizationMainPage #generalAnimationControlSection
{
	background: #DDEEDD; 
	color:#006600; 
}
.VisualizationMainPage  #header { 
	background: #FFFFFF; 
	color:#000000;
	padding: 0 10px 0 20px; 
} 
 
.VisualizationMainPage #header h1 {
	margin: 0; 
	padding: 10px 0; 
}

.VisualizationMainPage #container {
	background: #FFFFFF;
	margin: 0 auto; 
	text-align: left; 
}	
	


	

.VisualizationMainPage #mainContent h1{
	padding: 0 20px; 
	background: #FFFFFF;
	color:#006633
}

.VisualizationMainPage #mainContent h2{
	padding: 0 20px; 
	background: #FFFFFF;
	color:#006633
}

.VisualizationMainPage #mainContent h3{
	padding: 0 20px; 
	background: #FFFFFF;
	color:#006633
}


